<%= render "layouts/header" %>

<div class='top-main'>
  <div class="hero">
    <h1 class='content'>データをとる　をクリックしましょうログイン後は手を置いて、１３秒ほどお待ちください。</h1>
    <%= image_tag "hero.jpg", class: "drill-image" %>
  </div>
</div>

<%= render "layouts/footer" %>
