// header
.header {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 0 0 0 30px;
  background-color: #FAFAFA;
}

.header a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.read_url_btn {
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 3vw;
  color: #6b53ba;
}

.category_btn {
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 3vw;
  color: #7c7171;
}

// footer
.footer {
  width: 100vw;
  height: 50px;
  align-items: center;
  background-color: #FAFAFA;
}

.copyright {
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: #959393;
}

// index, show
.top-main{
  width: 100vw;
  height: calc(100vh - 100px - 70px);
}
.main{
  width: 100vw;
  height: 100vh;
}

.hero{
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px - 70px);
}

.drill-image{
  background-image: url(/assets/image/hero.jpg);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 30%;
}

.content{
  position: absolute;
  font-size: medium;
  color: #6b53ba;
  text-align: left;
}